<div class="grid-container half">
  <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-6">
    <div class="cell small-2">
      <%= link_to 'All', pickups_path, class: 'button' %>
    </div>

    <div class="cell small-2">
      <%= link_to 'Spells', spells_path, class: 'button' %>
    </div>

    <div class="cell small-2">
      <%= link_to 'Specials', specials_path, class: 'button' %>
    </div>


    <div class="cell small-2">
      <%= link_to 'Skills', skills_path, class: 'button' %>
    </div>

    <div class="cell small-2">
      <%= link_to 'Effects', effects_path, class: 'button' %>
    </div>


    <div class="cell small-2">
      <%= link_to 'Terrains', terrains_path, class: 'button' %>
    </div>
  </div>
</div>