<p id="notice"><%= notice %></p>

<h1><%= @filter ? @filter.pluralize : 'Pickups' %></h1>

<%= render 'filter_bar' %>

<%= render 'table', pickups: @pickups %>

<br>

<%= link_to 'New Pickup', new_pickup_path %>
