<p id="notice"><%= notice %></p>

  <h3><%= @creature.name %></h3>

  <div class="cell small-2">
    HP: <%= @creature.max_health %>
  </div>

  <div class="cell small-2">
    Speed: <%= @creature.speed %>
  </div>

  <div class="cell small-2">
    Strength: <%= @creature.strength %>
  </div>

  <div class="cell small-2">
    Dexterity: <%= @creature.dexterity %>
  </div>

  <div class="cell small-2">
    Stability: <%= @creature.stability %>
  </div>

  <div class="cell small-2">
    Intelligence: <%= @creature.intelligence %>
  </div>

  <div class="cell small-2">
    Wisdom: <%= @creature.wisdom %>
  </div>

  <div class="cell small-2">
    Charisma: <%= @creature.charisma %>
  </div>
