<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_pack_tag "application.js", 'data-turbolinks-track' =>  true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top-bar">
      <div class="title-bar-left">
        <ul class="menu">
          <li class="menu-text">Dungeon Crawler</li>
          <li><%= link_to 'Add New Drops', new_pickup_path %></li>
          <li><%= link_to 'Add New Monsters', '/' %></li>
        </ul>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
