<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_pack_tag "application.js", 'data-turbolinks-track' =>  true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="top-bar">
      <div class="title-bar-left">
        <ul class="menu">
          <li><%= link_to 'Dungeon Crawler', root_url %></li>
          <li><%= link_to 'Monsters', monsters_path %></li>
          <li><%= link_to 'My Characters', characters_path %></li>
        </ul>
      </div>
    </div>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
